    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button onclick="fn.load('./views/search.html');currentPage='search';">
            <ons-icon icon="md-arrow-back"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div id="title" class="center">
          <!-- title goes here -->
        </div>
        <div class="right">
          <ons-toolbar-button onclick="TTSspeak(selectedWord);" id="toolbar-menu-toggler">
            <ons-icon icon="ion-volume-high"></ons-icon>
          </ons-toolbar-button>
        </div>
      </ons-toolbar>
      <ons-progress-bar indeterminate id="progressBar" style="display:none"></ons-progress-bar>
      <ons-card>
        <div class="content">
          <ons-list>
            <ons-list-header>Sinhala Meanings</ons-list-header>
            <div class="listMeanings" id="listMeanings">

            </div>
          </ons-list>
          <ons-list style="margin-top:15px;display:none">
            <ons-list-header>English Definitions</ons-list-header>
            <div class="listDefinitions">

            </div>
          </ons-list>
          <ons-list style="margin-top:15px;display:none">
            <ons-list-header>English Synonyms</ons-list-header>
            <div class="listSynonyms">

            </div>
          </ons-list>
        </div>
      </ons-card>
    </ons-page>